body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    /* overflow: hidden; */
}

.lm {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.content {
    display: flex;
    align-items: center;
    padding-left: 90px;

}

.yt {
   padding: 90px;   
}

.yt iframe {
    margin-bottom: 20px;
    padding: 50px; 
    height: 30%;
    width: max-content;
}
